@use '../base/variables' as *;

.collapse {
  width: 100%;

  &__header {
    width: 100%;
    min-height: 52px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: $color-primary;
    color: $color-text-light;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &__title {
    font-size: 24px;
    text-align: left;
  }

  &__arrow {
    width: 24px;
    transition: transform 0.3s ease;

    &--open {
      transform: rotate(-180deg);
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    background-color: $color-background-light;
    border-radius: 0 0 5px 5px;

    &--open {
      max-height: 500px;
    }
  }

  &__inner {
    padding: 16px 20px 20px;
    transform: translateY(-10px);
    opacity: 0;
    transition: transform 0.35s ease, opacity 0.35s ease;

    .collapse__content--open & {
      transform: translateY(0);
      opacity: 1;
      padding: 16px 20px 20px;
    }

  }

  p,
  li {
    margin: 0;
    font-size: 18px;
    line-height: 1.4;
  }
}
@media (max-width: $breakpoint-mobile) {
  .collapse {
    &__header {
      min-height: 30px;
      padding: 10px;
      border-radius: 5px;
    }

    &__title {
      font-size: 13px;
    }

    &__arrow {
      width: 16px;
    }

    &__inner {
      .collapse__content--open & {
        padding: 13px 20px 19px 20px;
      }
    }

    p,
    li {
      font-size: 12px;
      line-height: 1.4;
    }
  }
}