@use '../base/variables' as *;

.header {
  margin: 89px 0 50px 0;
  background-color: $color-background;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 210px;
  }

  &__nav {
    display: flex;
    gap: 57px;
  }

  &__link {
    font-size: 24px;
    color: $color-text;

    &--active {
      text-decoration: underline;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .header {
    margin: 20px 0 27px 0;

    &__logo {
      width: 145px;
    }

    &__nav {
      gap: 26px;
    }

    &__link {
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}