@use '../base/variables' as *;

.home {
  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 60px;
    padding: 56px 50px 43px 50px;
    margin-bottom: 50px;
    border-radius: 25px;
    background-color: $color-background-light;
  }
}

@media (max-width: $breakpoint-mobile) {
  .home {
    &__cards {
      grid-template-columns: 1fr;
      gap: 20px;
      padding: 0;
      margin-bottom: 27px;
      background-color: transparent;
    }
  }
}