@use '../base/variables' as *;

.error {
  margin-top: 94px;
  margin-bottom: 139px;
  text-align: center;
  color: $color-primary;

  &__code {
    margin-bottom: 139px;
    font-size: 288px;
  }

  &__text {
    margin-bottom: 139px;
    font-size: 36px;
  }

  &__link {
    color: $color-text;
    font-size: 18px;
    text-decoration: underline;
  }
}

@media (max-width: $breakpoint-mobile) {
  .error {
    margin-top: 113px;
    margin-bottom: 113px;

    &__code {
      margin-bottom: 113px;
      font-size: 96px;
    }

    &__text {
      margin-bottom: 113px;
      font-size: 18px;
    }

    &__link {
      font-size: 14px;
    }
  }
}