@use './base/variables' as *;
@use './components/header';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: $color-background;
  color: $color-text;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.container-footer {
  max-width: 1440px;
  margin: 0 auto;
}